<nav class="navbar navbar-dark bg-navbar px-4 navbar-expand-lg">

  <!-- LOGO -->
  <a class="navbar-brand fw-bold" routerLink="/bienvenidahome">
    <img src="Favicon1.png" width="32" height="32">
    SalaDeJuegos
  </a>

  <!-- BOTÓN PARA CELULAR -->
  <button 
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#menuLateral">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- MENU ESCRITORIO -->
  <div class="d-none d-lg-flex ms-auto gap-3 align-items-center">

    @if (auth.user()) {
      <span class="user-name">👤 Bienvenido {{ auth.user()?.nombre }}</span>
      <button class="btn btn-logout" (click)="auth.logout()">Cerrar Sesión</button>
    } @else {
      <a class="btn-link-gamer" routerLink="/login">Iniciar Sesión</a>
      <a class="btn-link-gamer" routerLink="/register">Registrarse</a>
    }

    <a class="btn-link-gamer" routerLink="/quiensoy">¿Quién soy?</a>

  </div>

</nav>

<!-- MENÚ LATERAL -->
<div 
  class="offcanvas offcanvas-end bg-navbar text-white" 
  tabindex="-1" 
  id="menuLateral"
>

  <div class="offcanvas-header">
    <h5>Menú</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column gap-3">

    @if (auth.user()) {
      <span class="user-name">👤 Bienvenido {{ auth.user()?.nombre }}</span>
      <button class="btn btn-logout" (click)="auth.logout()">Cerrar sesión</button>
    } @else {
      <a class="btn-link-gamer" routerLink="/login" data-bs-dismiss="offcanvas">Iniciar Sesión</a>
      <a class="btn-link-gamer" routerLink="/register" data-bs-dismiss="offcanvas">Registrarse</a>
    }

    <a class="btn-link-gamer" routerLink="/quiensoy" data-bs-dismiss="offcanvas">¿Quién soy?</a>

  </div>