<nav class="navbar navbar-expand-lg navbar-dark bg-navbar px-4">

  <div class="collapse navbar-collapse d-flex justify-content-between">

    <!-- IZQUIERDA -->
    <a class="navbar-brand fw-bold" href="#">
      🎮 GameHub
    </a>

    <!-- DERECHA -->
    <div class="d-flex align-items-center gap-3">

      @if (isLogged) {
        <span class="user-name">👤 Elías </span>
        <button class="btn btn-logout" (click)="logout()">Salir</button>
      } @else {
        <button class="btn btn-login">Login</button>
      }
      
      <a routerLink="/quiensoy">¿Quién soy?</a>
    </div>

  </div>

</nav>
