<div class="home-container d-flex flex-column align-items-center justify-content-center">

  <h1 class="title mb-4">🎮 Sala de Juegos</h1>

  <p class="subtitle mb-5">
    Elegí un juego para comenzar a jugar
  </p>

  <div class="games-grid">

    <a routerLink="/login" class="game-card">
      <span>🧠</span>
      <p>Ahorcado</p>
    </a>

    <a routerLink="/game2" class="game-card">
      <span>❌⭕</span>
      <p>Tateti</p>
    </a>

    <a routerLink="/game3" class="game-card">
      <span>🎯</span>
      <p>Reflejos</p>
    </a>

    <a routerLink="/game4" class="game-card">
      <span>🃏</span>
      <p>Memoria</p>
    </a>

  </div>

</div>
